<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %> - Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
</html>
<body>
